@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* -----------------
    COMMON STYLE
------------------ */
.input-style-1 {
    @apply border-2 border-zinc-800 rounded-lg p-1.5;
}

.btn-primary {
    @apply bg-zinc-800 text-white rounded-lg p-2;
}

.btn-subscribe {
    @apply bg-zinc-800 text-white rounded-lg p-4 ml-4;
}

.card-title {
    @apply text-5xl font-medium text-zinc-800;
}

.card-button {
    @apply bg-zinc-800 text-white rounded-lg px-6;
}

.footer-head {
    @apply text-2xl text-zinc-800 font-medium;
}

.dashboard-head {
    @apply bg-zinc-800 text-white cursor-pointer rounded-lg p-4 mb-4;
}

.dashboard-head-config {
    width: 15.5%;
}

:root {
    --swiper-theme-color: #ffffff !important;
}

@import '~react-image-gallery/styles/css/image-gallery.css';
